[azure]
clientId = d409da6e-82ec-4635-9f87-f72a0fb4b21d
tenantId = common
graphUserScopes = User.Read Mail.Read Mail.Send
clientSecret = jfH8Q~keylzBty5ylU3ND4tfOVSmZJQHibvktaJP
# Do not use this - it's the ID, not the secret value
# clientSecretId = 2af5a6f0-5367-475b-a979-0c86a69af2d0

[cosmos_db]
# Use MongoDB connection string format for Azure Cosmos DB MongoDB API
connection_string = mongodb://email-assistant-account:NjCDrVjZEh9ySVi8yT6TQ6aoep6HuapKUTeLZ9NSxUmAxPFN6AeLO59ZcrvEz6a2tzIXPUCklr9LACDbq00tVg==@email-assistant-account.mongo.cosmos.azure.com:10255/?ssl=true&retrywrites=false&replicaSet=globaldb&maxIdleTimeMS=120000&appName=@email-assistant-account@
database_name = mail_assistant_db
collection_name = email_threads

[app]
frontend_url = http://localhost:3000


[whatsapp]
wa_phone_id= 675431095645058
wa_api_token = EAAJPyenl6a4BOZBZB9WGDbp4RigMLz8Xff28rVZAx7Ay3pZBx271tsOONaZCSikhqEtBoitx6KtUBpSdSWujaweZA8LP92tPADquhd0AousmFA7u8K9KPZBcUtJp7R3RQnnkHo0xqMAp2txnIt6O510YuCAtY4G5kp4Db3T3tHvBJ1ZCf9BZCtRZA9Q7JszJ6s90DbKGUQo9ZAtZBnFlsLuOEkL6ZCvsf7Djpmq9jHzh9
